.download-info {
    // backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
    border-radius: 30px;
    padding: 10px 10px;

}

.download-title {
    font-size: 25px;
}

ul {
    padding-inline-start: 0px;

}


.main-list2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-left: 0px;
    list-style: none;
    backdrop-filter: 10px;
    border-radius: 30px;
    padding: 10px 10px;
}

.download__p {
    margin-left: 30px;
}

.download__copyright {
    margin-left: 30px;
    text-align: center;
}

.copyright {

    fill: rgb(0, 179, 255);
    width: 80px;
    height: 80px;
    transition: transform 1s, fill 1s;

    &:hover {
        animation: rotater 1s;

        @keyframes rotater {
            0% {
                transform: rotate(0deg) scale(1);
            }

            50% {
                transform: rotate(390deg) scale(1);
            }

            100% {
                transform: rotate(360deg) scale(1);
            }

        }

        fill: rgb(0, 157, 255);
    }
}

.download__safe {
    margin-left: 30px;
    text-align: center;
}

.safe {
    fill: rgb(0, 179, 255);
    width: 80px;
    height: 80px;
    transition: transform 1s, fill 1s;

    &:hover {
        transform: translateY(-10px);
        fill: rgb(0, 157, 255);
    }
}



.rounded {
    border-radius: 30px;
}

.safe-p {
    font-size: 25px;
    letter-spacing: 1px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.safe-p-m {
    font-size: 20px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.backdropload-2 {
    border: rgba(0, 145, 255, 0.106) 1px solid;
    border-radius: 30px;
    height: auto;
    padding: 10px 10px;

}

.backdropload-s {
    border: rgba(0, 145, 255, 0.106) 1px solid;
    background-color: rgb(225, 243, 255);
    border-radius: 30px;
    height: auto;
    padding: 10px 10px;

}

.download__ico {
    transition: transform 0.1s;
    fill: white;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    transform: translateY(5px);

}

.main-item {
    padding: 10px 10px;

}

.main-title {
    text-align: center;
    text-shadow: white 1px 0 10px;
}

.download-description {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 15px;
    letter-spacing: 1px;
    max-width: 500px;
    background-color: rgb(194, 231, 255);
    border: rgba(0, 145, 255, 0.061) 1px solid;
    border-radius: 30px;
    padding: 10px 10px;
}

.none {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.product-img {
 transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s, filter cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;

    &:hover {
       transform: scale(1.1);
     filter: drop-shadow(6px 6px 20px rgba(0, 0, 0, 0.466));
    }
}


.img-list {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;

}

.img-item{
    transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;

    &:hover{
        transform: scale(1.1);
    }
}

.download-button {
    border-radius: 20px;
    margin-bottom: 50px;
    text-decoration: none;
    padding: 10px 10px;
    color: white;
    font-size: 30px;
    background-color: rgba(70, 156, 255, 0.681);
    transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    border: rgba(0, 145, 255, 0.061) 1px solid;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2), inset 0 2px 5px rgba(0, 145, 255, 0.061);

    &:hover {
        background-color: rgb(0, 119, 255);

    }

}

.download__code {
    margin-top: 30px;
    margin-bottom: 30px;
}

h3 {
    text-shadow: white 1px 0 10px;
}

.moved {
    transition: transform 0.5s;


    animation: rotater-img2 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;

    @keyframes rotater-img2 {
        0% {

            transform: rotate(0deg);
        }

        50% {
            transform: scale(1.1);
            transform: rotate(180deg);

        }

        100% {
            transform: scale(1);
            transform: rotate(0deg);
        }
    }
}