.footer-list {
    list-style: none;
    min-width: 320px;
}

footer {
    padding: 10px 10px;
    display: flex;
    margin-top: 15px;

}

.footer-item {
    color: black;
    text-shadow: white 1px 0 10px;
}

.mailto {
    color: black;
    text-decoration: none;
    text-shadow: white 1px 0 10px;
}

.footer-link {
    color: black;
    text-decoration: none;
    text-shadow: white 1px 0 10px;
    text-shadow: white 1px 0 10px;
}

.footer-wrapper {
    display: flex;
}