.footer-list {
    list-style: none;
    min-width: 320px;
}

footer {
    padding: 10px 10px;
    display: flex;
    margin-top: 15px;
}

.footer-item {
    color: black;
    padding-bottom: 5px;
}

.mailto {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.footer-link {
    color: black;
    text-decoration: none;
        font-size: 20px;
}

.footer-wrapper {
    display: flex;
}