.main-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    list-style: none;
}

.main-link{
    text-decoration: none;
}

.main-item{
border-color: antiquewhite;
backdrop-filter: blur(5px);
border-radius: 10px;
transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

&:hover{
    background-color: rgba(0, 0, 0, 0.12);
transform: scale(1.1);

}

}

.slider {
    z-index: 2;
    position: relative;
    width: 100%;
    max-width: 700px;
    overflow: hidden;
    left: 300px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    min-width: 100%;
}

.next{
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
border-radius: 10px;

}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
  

.card-title{
    color: black;
    display: flex;
    justify-content: center;
   text-decoration: none;
    align-items: center;
}



// .slider-sect{
   
// }